#### Nested Dictionary :- 
* When we use one dictionary inside another dictionary its called nested dictionary.

In [39]:
p1 = {
    'Name':'Shivam',
    'Class':'5th',
    'City':'Delhi',
    'Age':20
}
p2 = {
    'Name':'Mukesh',
    'Class':'10th',
    'City':'Haryana',
    'Age':26
}
p3 = {
    'Name':'Ravi',
    'Class':'Graduate',
    'City':'Noida',
    'Age':19
}
p4 = {
    'Name':'Deepak',
    'Class':'12th',
    'City':'Assam',
    'Age':22
}

In [40]:
dc = {1:p1,2:p2,3:p3,4:p4}

In [41]:
dc

{1: {'Name': 'Shivam', 'Class': '5th', 'City': 'Delhi', 'Age': 20},
 2: {'Name': 'Mukesh', 'Class': '10th', 'City': 'Haryana', 'Age': 26},
 3: {'Name': 'Ravi', 'Class': 'Graduate', 'City': 'Noida', 'Age': 19},
 4: {'Name': 'Deepak', 'Class': '12th', 'City': 'Assam', 'Age': 22}}

In [42]:
dc.values()

dict_values([{'Name': 'Shivam', 'Class': '5th', 'City': 'Delhi', 'Age': 20}, {'Name': 'Mukesh', 'Class': '10th', 'City': 'Haryana', 'Age': 26}, {'Name': 'Ravi', 'Class': 'Graduate', 'City': 'Noida', 'Age': 19}, {'Name': 'Deepak', 'Class': '12th', 'City': 'Assam', 'Age': 22}])

In [43]:
dc.keys()

dict_keys([1, 2, 3, 4])

In [44]:
dc.items()

dict_items([(1, {'Name': 'Shivam', 'Class': '5th', 'City': 'Delhi', 'Age': 20}), (2, {'Name': 'Mukesh', 'Class': '10th', 'City': 'Haryana', 'Age': 26}), (3, {'Name': 'Ravi', 'Class': 'Graduate', 'City': 'Noida', 'Age': 19}), (4, {'Name': 'Deepak', 'Class': '12th', 'City': 'Assam', 'Age': 22})])

In [45]:
# Show the name of students whose roll no is 4

In [46]:
dc[4]['Name']

'Deepak'

In [47]:
# Show the age of students whose roll no is 4

In [48]:
dc[4]['Age']

22

In [49]:
# Show the class of students whsoe no is 2

In [50]:
dc[2]['Class']

'10th'

In [51]:
# Show all featuers of 3

In [52]:
dc[3]

{'Name': 'Ravi', 'Class': 'Graduate', 'City': 'Noida', 'Age': 19}

In [53]:
# Show all value of students whose roll no is 4

In [54]:
dc[4].values()

dict_values(['Deepak', '12th', 'Assam', 22])

In [58]:
for i in dc:
    print(list(dc[i].values()))

['Shivam', '5th', 'Delhi', 20]
['Mukesh', '10th', 'Haryana', 26]
['Ravi', 'Graduate', 'Noida', 19]
['Deepak', '12th', 'Assam', 22]

In [55]:
# Show values in list of each students

In [64]:
x = {
    "Name":['Ranjan','Anshu','Ankit','Manu'],
    'Age':[23,24,25,26],
    'Marks':[456,789,155,435],
    'City':['Noida','Bihar','Delhi','Haryana']
}

In [65]:
x

{'Name': ['Ranjan', 'Anshu', 'Ankit', 'Manu'],
 'Age': [23, 24, 25, 26],
 'Marks': [456, 789, 155, 435],
 'City': ['Noida', 'Bihar', 'Delhi', 'Haryana']}

In [66]:
import pandas as pd

In [69]:
df = pd.DataFrame(x)

In [77]:
df

     Name  Age  Marks     City
0  Ranjan   23    456    Noida
1   Anshu   24    789    Bihar
2   Ankit   25    155    Delhi
3    Manu   26    435  Haryana

In [91]:
marks = {"Shivam":{"Hindi":89,"Math":56,"Eng":78,"sc":47,"sst":63},
        "Mukesh":{"Hindi":49,"Math":86,"Eng":98,"sc":37,"sst":53},
        "Ravi":{"Hindi":49,"Math":50,"Eng":88,"sc":67,"sst":69},
        "Deepak":{"Hindi":85,"Math":63,"Eng":88,"sc":99,"sst":53},
        "Saahil":{"Hindi":80,"Math":76,"Eng":48,"sc":57,"sst":83}}

In [79]:
# Show the total mark of mukesh

In [88]:
m = marks['Mukesh'].values()
sum(m)

323

In [97]:
s = input('Enter the name :- ').title()
m = marks[s].values()
print('-'*120)
print(f'{sum(m)} Total Marks of {s}')

Enter the name :-  ravi

------------------------------------------------------------------------------------------------------------------------
323 Total Marks of Ravi

In [98]:
# Change the marks in math 66 of shivam

In [110]:
marks['Shivam']['Math']=66

In [111]:
marks

{'Shivam': {'Hindi': 89, 'Math': 66, 'Eng': 78, 'sc': 47, 'sst': 63},
 'Mukesh': {'Hindi': 49, 'Math': 86, 'Eng': 98, 'sc': 37, 'sst': 53},
 'Ravi': {'Hindi': 49, 'Math': 50, 'Eng': 88, 'sc': 67, 'sst': 69},
 'Deepak': {'Hindi': 85, 'Math': 63, 'Eng': 88, 'sc': 99, 'sst': 53},
 'Saahil': {'Hindi': 80, 'Math': 76, 'Eng': 48, 'sc': 57, 'sst': 83}}

#### Sorting in dictionary

In [108]:
x = {
    5:'Five',2:'Two',7:'Seven',1:'One',6:'Six'
}

In [109]:
x

{5: 'Five', 2: 'Two', 7: 'Seven', 1: 'One', 6: 'Six'}

In [112]:
# Ascending Order
y = sorted(x.items())
y = dict(y)
print(y)

{1: 'One', 2: 'Two', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [113]:
# Descending order 
y = sorted(x.items(),reverse=True)
y = dict(y)
print(y)

{7: 'Seven', 6: 'Six', 5: 'Five', 2: 'Two', 1: 'One'}

In [118]:
# Values

In [119]:
x

{5: 'Five', 2: 'Two', 7: 'Seven', 1: 'One', 6: 'Six'}

In [122]:
# Sorting the dictionary base of values 
y = sorted(x.items(),key=lambda a:a[1])
y = dict(y)
print(y)

{5: 'Five', 1: 'One', 7: 'Seven', 6: 'Six', 2: 'Two'}

In [123]:
# Sorting the dictionary base of values 
y = sorted(x.items(),key=lambda a:a[1],reverse=True)
y = dict(y)
print(y)

{2: 'Two', 6: 'Six', 7: 'Seven', 1: 'One', 5: 'Five'}

In [124]:
# Write a python program to create a list with the help of user input

In [28]:
x = int(input('Enter total number of elements :- '))
lis = list()
for i in range(x):
    val = eval(input(f'Enter {i+1} value :- '))
    lis.append(val)
print(lis)

Enter total number of elements :-  2
Enter 1 value :-  "Ravi"
Enter 2 value :-  8287386969

['Ravi', 8287386969]

In [125]:
# Write a python program to print to create dictionary with the help of user input

In [26]:
x = int(input('Enter the length of dictionary :-'))
dic = dict()
for i in range(x):
    key = eval(input(f' Enter {i+1} key :-'))
    val = eval(input(f' Enter {i+1} values :-'))
    dic[key] = val
print('updated dic',dic)

Enter the length of dictionary :- 3
 Enter 1 key :- "Age"
 Enter 1 values :- 25
 Enter 2 key :- "City"
 Enter 2 values :- "Bihar"
 Enter 3 key :- "Name"
 Enter 3 values :- "Prince"

updated dic {'Age': 25, 'City': 'Bihar', 'Name': 'Prince'}

In [27]:
print(dic)

{'Age': 25, 'City': 'Bihar', 'Name': 'Prince'}

In [126]:
# Reverse the dictionary from key to value and values to keys

In [29]:
x = {
    1:'One',2:'Two',
    3:'Three',4:'Four'
}

In [30]:
y = x.copy()
x.clear()

In [31]:
for i in y:
    x[y[i]] = i

In [32]:
x

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [34]:
x = {
    1:'One',2:'Two',
    3:'Three',4:'Four'
}

In [35]:
y = {}
for i,j in x.items():
    y[j] = i

In [36]:
y

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [127]:
# Write a python program to detect the number is prime or not a prime

In [85]:
x = int(input('Enter Any number :- '))
if x<2:
    print('Not a Prime')
else:
    for i in range(2,x):
        if x%i==0:
            print('Not a Prime number')
            break
    else:
        print('Prime Number')

Enter Any number :-  497

Not a Prime number

In [84]:
x = int(input('Enter Any number :-'))
c = 0
for i in range(2, x):
    for j in range(2, i):
        if i % j == 0:
            break  # if the number is divisible by j, it's not prime
    else:
        print(i)  # if no divisor was found, it's prime
        c+=1
print(f'Total Prime number is {c}')

Enter Any number :- 10

2
3
5
7
Total Prime number is 4

In [88]:
lower = int(input('Enter Bottom Number :-'))
upper = int(input('Enter top Number :-'))
c = 0
for i in range(lower, upper):
    for j in range(2, i):
        if i % j == 0:
            break  # if the number is divisible by j, it's not prime
    else:
        print(i,end=" | ")  # if no divisor was found, it's prime
        c+=1
print('\nTotal Prime number is',c)

Enter Bottom Number :- 20
Enter top Number :- 40

23 | 29 | 31 | 37 |
Total Prime number is 4