In [1]:
# While loop

In [2]:
# Reverse table y user input with while loop

In [6]:
# Ask the user for input
n = int(input("Enter the number for the multiplication table: "))
l = int(input("Enter the range (limit) for the multiplication table: "))
c = l
while c >= 1:
    print(f"{n} x {c} = {n * c}")
    c -= 1

Enter the number for the multiplication table:  2
Enter the range (limit) for the multiplication table:  10

2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

In [13]:
# Write a python program to print all even number with the help of continue statement

In [5]:
x = 0
while x<=20:
    x+=1
    if x%2 ==0:
        continue
    else:
        print(x,end=" ")

1 3 5 7 9 11 13 15 17 19 21

#### For Loop :- 
* For loop are used to iterate the set of statement for a limited tiem

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
# Reverse counting 10

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(2,12,3):
    print(i)

2
5
8
11

In [15]:
# Write a python program to print all even number between 40 to 50

In [18]:
for i in range(40,51):
    if i%

40 | 42 | 44 | 46 | 48 |

In [16]:
# Write a python program to print all odd number from 100 to 80

In [19]:
for i in range(100,80,-1):
    if i%2 !=0:
        print(i,end=" | ")

99 | 97 | 95 | 93 | 91 | 89 | 87 | 85 | 83 | 81 |

In [20]:
# Write a python program to print all number from 400 to 500 which divisible by 5 and 3

In [22]:
for i in range(400,500):
    if i%5 ==0 and i%3 ==0:
        print(i,end=" | ")

405 | 420 | 435 | 450 | 465 | 480 | 495 |

In [21]:
# Write a python program with the help of user input to skip the number which divisible by 2 or 3 from 10  to 30

In [35]:
x = int(input('Enter the Minimum number :- '))
y = int(input('Enter the Maximum Number :- '))+1
for i in range(x,y):
    if (i%2 ==0) or (i%3 ==0):
        continue
    else:
        print(i,end=" | ")

Enter the Minimum number :-  1
Enter the Maximum Number :-  30

1 | 5 | 7 | 11 | 13 | 17 | 19 | 23 | 25 | 29 |

In [38]:
# (OR)

In [39]:
x = int(input('Enter the Minimum number :- '))
y = int(input('Enter the Maximum Number :- '))+1
for i in range(x,y):
    if (i%2 !=0) and (i%3 !=0):
        print(i,end=" | ")

Enter the Minimum number :-  1
Enter the Maximum Number :-  30

1 | 5 | 7 | 11 | 13 | 17 | 19 | 23 | 25 | 29 |

In [40]:
# Write a python program to count total even number from 1 to 30

In [74]:
c = 0
for i in range(1,31):
    if i%2 ==0:
        c+=1
print(f'Total Even Number : -{c}')

Total Even Number : -15

In [41]:
# Write a python program to count all number which is divisible by 4 and 5 from 40 to 80

In [78]:
c = 0
for i in range(40,81):
    if (i%4 ==0) and (i%5 ==0):
        c+=1
print(c)

3

In [42]:
# Write a python program to print 10 time your name

In [50]:
for i in range(1,11):
    print('Ravi : -',i)

Ravi : - 1
Ravi : - 2
Ravi : - 3
Ravi : - 4
Ravi : - 5
Ravi : - 6
Ravi : - 7
Ravi : - 8
Ravi : - 9
Ravi : - 10

In [51]:
# Write a python program to print all leap year from 1947 to 2025

In [81]:
for i in range(1947,2025):
    if i%4 ==0:
        print(f'{i} is Leap year')
        print('~'*150)

1948 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1952 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1956 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1960 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1964 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1968 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1972 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1976 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1980 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1984 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1988 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1992 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1996 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2000 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2004 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2008 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2012 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2016 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2020 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2024 is Leap year
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [82]:
x = 'Delhi'
for i in x:
    print(i)

D
e
l
h
i

In [83]:
# 1
x = 'Delhi'
x = x.lower()
for i in x:
    print(i)

d
e
l
h
i

In [84]:
# 2
x = 'Delhi'
for i in x.lower():
    print(i)

d
e
l
h
i

In [85]:
# 3
x = 'Delhi'.lower()
for i in x:
    print(i)

d
e
l
h
i

In [87]:
# 4
x = 'Delhi'
for i in x:
    print(i.lower())

d
e
l
h
i