In [2]:
# For loop String

In [3]:
x = 'Ramayana'

In [4]:
# Print all a with the help of for loop

In [7]:
for i in x:
    if i=='a':
        print(i,end="")

aaaa

In [8]:
x ='MaHaBhAraT'

In [9]:
# Print the all capital letter of alphabet

In [13]:
for i in x:
    if i==i.upper():
        print(i,end=" | ")

M | H | B | A | T |

In [15]:
# (OR)

In [16]:
for i in x:
    if i.isupper():
        print(i,end=" | ")

M | H | B | A | T |

In [17]:
x ='Delhi'

In [18]:
# Show the index number of each alphabets

In [26]:
for i in x:
    p = x.find(i)
    print(i,' : - ',p)

D  : -  0
e  : -  1
l  : -  2
h  : -  3
i  : -  4

In [27]:
# (OR)

In [34]:
x = 'Ramayana'
y = len(x)
for i in range(y):
    print(x[i],' Index : - ',i)

R  Index : -  0
a  Index : -  1
m  Index : -  2
a  Index : -  3
y  Index : -  4
a  Index : -  5
n  Index : -  6
a  Index : -  7

In [35]:
x = 'python'
y = len(x)
for i in range(y):
    print(x[i],' Index : - ',i)

p  Index : -  0
y  Index : -  1
t  Index : -  2
h  Index : -  3
o  Index : -  4
n  Index : -  5

In [42]:
x = 'python'
y = len(x)

for i in range(y):
    print(x[i], 'Negative Index : -', -(y - i - 1))

p Negative Index : - -5
y Negative Index : - -4
t Negative Index : - -3
h Negative Index : - -2
o Negative Index : - -1
n Negative Index : - 0

In [51]:
# (OR)

In [52]:
x = 'delhi'
y = len(x)
for i in range(-y,0):
    print(x[i],i)

d -5
e -4
l -3
h -2
i -1

In [53]:
x = 'Mahabharat'

In [54]:
# Show the positive and negatve index with alphabets

In [55]:
y = len(x)
for i in range(y):
    print(x[i],' Positive Index :-  ',i,' | ',x[i],' Negative Index : - ',i-y)

M  Positive Index :-   0  |  M  Negative Index : -  -10
a  Positive Index :-   1  |  a  Negative Index : -  -9
h  Positive Index :-   2  |  h  Negative Index : -  -8
a  Positive Index :-   3  |  a  Negative Index : -  -7
b  Positive Index :-   4  |  b  Negative Index : -  -6
h  Positive Index :-   5  |  h  Negative Index : -  -5
a  Positive Index :-   6  |  a  Negative Index : -  -4
r  Positive Index :-   7  |  r  Negative Index : -  -3
a  Positive Index :-   8  |  a  Negative Index : -  -2
t  Positive Index :-   9  |  t  Negative Index : -  -1

In [56]:
x = 'p2fn3gkjg4j443'

In [57]:
# Extract all number in a new variable

In [71]:
n = " "
for i in x:
    if i.isnumeric():
        n+=i
print(n)
print(type(n))
n = int(n)
print(type(n))
print(n)

 234443
<class 'str'>
<class 'int'>
234443

In [72]:
s = " "
for i in x:
    if i.isalpha():
        s+=i
print(type(s))
print(s)

<class 'str'>
 pfngkjgj

In [74]:
x = 'pyt@hon#123@'

In [75]:
# print all special charactor

In [80]:
for i in x:
    if i.isalnum():
        continue
    else:
        print(i,end=" | ")

@ | # | @ |

In [79]:
# LEVEL 2

In [81]:
# Write a python program to find the factorial of any number with the help of user input

In [87]:
x = int(input('enter the Number :- '))
f = 1
for i in range(f,x+1):
    f = f*i
print('Factorial : ',f)

enter the Number :-  8

Factorial :  40320

In [88]:
x = 'a1b2c4d5e6'

In [89]:
# Show the sum of number from the x

In [112]:
s = 0
for i in x:
    if i.isdigit():
        i = int(i)
        s+=i
print('Sum of total number :- ',s)

Sum of total number :-  18

In [113]:
x = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

In [116]:
# Show the name of day whose name startswith 't'

In [122]:
for i in x:
    if i.startswith('T'):
        print(i)

Tuesday
Thursday

In [123]:
# (OR)

In [124]:
for i in x:
    if i[0]=='T':
        print(i)

Tuesday
Thursday