In [91]:
# Write a python program to count total number of leap year from 1947 to 2025

In [92]:
for i in range(1947,2025):
    if i%4 ==0:
        print(i,'is leap year')

1948 is leap year
1952 is leap year
1956 is leap year
1960 is leap year
1964 is leap year
1968 is leap year
1972 is leap year
1976 is leap year
1980 is leap year
1984 is leap year
1988 is leap year
1992 is leap year
1996 is leap year
2000 is leap year
2004 is leap year
2008 is leap year
2012 is leap year
2016 is leap year
2020 is leap year
2024 is leap year

In [93]:
x = 'plr3i5n@c-e $s!h5a4r)m^a'

In [94]:
# 1. Extract all number from x

In [95]:
n = ""
for i in x:
    if i.isnumeric():
        n = n + i
print(n)

3554

In [96]:
# 2. Extract all text in a variable

In [97]:
t =""
for i in x:
    if i.isalpha() or i.isspace():
        t = t + i
print(t)

plrince sharma

In [98]:
# 3. Count total number of special charactor

In [99]:
x = 'plr3i5n@c-e $s!h5a4r)m^a'
c = 0
for i in x:
    if i.isalnum():
        continue
    else:
        c = c+1
print(c)

7

In [100]:
# 4. Count Total number from text

In [101]:
x = 'plr3i5n@c-e $s!h5a4r)m^a'
c_t = 0
for i in x:
    if i.isalpha():
       c_t+=1
print(c_t)

13

In [102]:
x = 'Delhi'
# Reverse this text with the help of a loop

In [103]:
for i in range(len(x)-1,-1,-1):
    print(x[i],end="")

ihleD

In [108]:
# 1. Capitalize the alternate text

In [111]:
x = 'himachal pradesh'
y = ""
for i in range(len(x)):
    if i%2 ==1:
        y+=x[i].lower()
    else:
        y+=x[i].upper()
print(y)

HiMaChAl pRaDeSh

In [112]:
# # Data Type
# 1. Numerical :- [int,float,complex]
# 2. Text      :- [Str]
# 3. Sequence  :- [List,tuple,range()]
# 4. Mapping   : -[Dictionry]
# 5. Set       :- [Set]
# 6. Boolean   :- [True,False]
# 7. None      :- [None]
# 8. Binary Data :- [001010101]

#### List :- List are used to store the multiple values in a single variable and its is written in Square Bracket
1. List Written in square bracket.
2. List are mutable or changable.
3. list are ordered.
4. list are indexed.
5. list allow duplicate value.
6. list support mutiple type of data.

In [116]:
x = [1,2,3,4,5]
print(x)
print(len(x))
print(type(x))

[1, 2, 3, 4, 5]
5
<class 'list'>

In [117]:
# How to Create a Blank List

In [118]:
x = []
print(x)

[]

In [119]:
# (OR)

In [120]:
x = list()
print(x)
print(type(x))

[]
<class 'list'>

In [121]:
# list allow multipole data type value.

In [128]:
x = [1,2.3,3256j,'Analyst',True,None]

In [129]:
print(x)
print('Length',len(x))
print(type(x))

[1, 2.3, 3256j, 'Analyst', True, None]
Length 6
<class 'list'>

In [156]:
x = [1,'Tuesday',2,'Monday',3,4,'Sunday']

In [157]:
# Extract all text data from x
# Extract all number from x

In [158]:
for i in x:
    if type(i)==str:
        print(i)

Tuesday
Monday
Sunday

In [153]:
x = [1,'Tuesday',2,'Monday',3,4,'Sunday']
for i in x:
    if type(i)==int:
        print(i)

1
2
3
4

In [159]:
x = [12,34,45,5,5,6,7,5]

In [161]:
for i in x:
    if i%4 ==0:
        print(i)

12

In [162]:
# List are indexed
# List are ordered
# List are changable

In [185]:
x = ['One','Two','Three','Four','Five']

In [164]:
# Extract the first three value from list

In [168]:
print(x[0:3])

['One', 'Two', 'Three']

In [165]:
# Extract the last two value from list

In [171]:
print(x[-2:])

['Four', 'Five']

In [172]:
# Extract ['Four','Three'] from list

In [186]:
print(x[-2:-4:-1])

['Four', 'Three']