In [26]:
x = [1,2,3,4,3,2,7,6,5,1,3,4,7,8,6,4,3,2,4,6,3,2,1,3,5]

In [21]:
d = {}
for i in x:
    if i not in d:
        d[i] = 1
    else:
        d[i]+=1

In [22]:
d

{1: 3, 2: 4, 3: 6, 4: 4, 7: 2, 6: 3, 5: 2, 8: 1}

In [31]:
# Function :- Function is a back of code its run when it is called.

In [32]:
# Function types
#     1. Built in Function :- The function is pre denied in python
#     2. User Defined Function :- The function that created by user

In [33]:
# We are using to def keyword to define the function

In [34]:
def mukesh(x):
    return x**3

In [36]:
mukesh(100)

1000000

In [37]:
# Create a function to show the personal info of user

In [38]:
def user():
    print('Name :- Ravi')
    print('Tools :- Python sql Excel')
    print('City :- Delhi')

In [40]:
user()

Name :- Ravi
Tools :- Python sql Excel
City :- Delhi

In [41]:
# Create a function to add two number in function

In [42]:
def add(x,y):
    print(x+y)

In [44]:
add(40,40)

80

In [46]:
# Create a function to show the highest by peramter.
# Function should be simillar to large function in excel

In [63]:
x = [1,2,3,4,5]

In [67]:
def large(text,k):
    text.sort(reverse=True)
    return text[k-1]

In [69]:
large(x,1)

5

In [70]:
# Small

In [79]:
def small(text,k):
    text.sort()
    return text[k]

In [80]:
x = [2,3,5,6,82,89,8,2,58,25,]

In [81]:
small(x,2)

3

In [82]:
# By default perameter

In [83]:
def large(text,k=1):
    text.sort(reverse=True)
    return text[k-1]

In [87]:
large(x,-1)

2

In [85]:
def small(text,k=1):
    text.sort()
    return text[k]

In [86]:
small(x)

2

In [88]:
# Create a function of show the simple intrest by user input where by default in 5 % and time is 10

In [90]:
def si(p,r=10,t=10):
    return (p*r*t)/100

In [91]:
si(20000)

20000.0

In [1]:
# Create a function to show the table of any number

In [15]:
def table(x):
    for i in range(1,11):
        print(f'{x} X  {i} = {i*x}')

In [16]:
table(5)

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50

In [17]:
# Create a function to count total odd number from list

In [68]:
def odd(x):
    c = 0
    for i in x:
        if i%2 !=0:
            c = c + 1
print('Total Odd number',c)

Total Odd number 4

In [69]:
x = [123,5,6,8,5,5]

In [72]:
odd(x)

In [58]:
# Create a function to show the name from list whose length is highest

In [80]:
x = ['abc','ab','abcd']

In [81]:
def large(x):
    d = {}
    for i in x:
        d[i] = len(i)
    d = sorted(d.items(),key=lambda a:a[1],reverse=True)
    d = dict(d)
    d = list(d.keys())[0]
    print(d)

In [82]:
large(x)

abcd

In [83]:
x = ['Mukesh','Shivam','Ravi','Ramayana']

In [84]:
large(x)

Ramayana

In [94]:
l = 0
for j in x:
    if len(j)>l:
        l = len(j)
for i in x:
    if len(i)==l:
        print(i)

Ramayana

In [95]:
# Create a function to count the number which number is divided by 5 and 7

In [97]:
def divi(y,x):
    for i in range(y,x):
        if i%5 ==0 and i%7 ==0:
            print(i)

In [99]:
divi(100,200)

105
140
175