# INTRODUCTION OF PYTHON

1. WHAT IS PYTHON ?
* PYTHON IS A HIGH LEVEL OBJECTED ORIENTED PROGRAMMING LANGUAGE

## VARIABLE

* VARIABLE IS A CONTAINER WHERE WE STORE DATA.
* VARIABLE IS A SORT NAME OF ANY VALUE.

### Types of Variable
1. Single Variable :- In Single Variable, store the single value.
2. Global Variable :- Is Global Variable, store multiple value with multiple variable.

### LIMITATION OF VARIABLE
1. VARIABLE IS CASE SENSITIVE.
2. VARIABLE ALWAYS STARTSWITH ALPHABET.
3. WE CANNOT INSERT SPACE OR SPECIAL CHARACTER IN VARIRABLE. (!@#$%^&*-+).
4. VARIABLE IS ALPHA NUMERIC.
5. IN BETWEEN OR LAST OF THE VARIABLE WE CAN USE UNDER_SCORE (_).

### COMMENTS :-
* IT IS A STATEMENT THAT WE WANT TO SHOW IN CODE BUT DON'T WANT TO EXECUTE WITH CODE.

#### TYPES OF COMMENTS 
* SINGLE COMMENTS :- IT IS DENOTED BY #
* MULTIPLE COMMENTS :- IT IS DENOTED BY ''' '''

# Data Type

1. Text Data  :-  string  ------   str
2. Numerical Data :- 1. Integer int  2. float    3. Complex
3. Sequence Data :- 1. List    2. Tuple   3. range
4. Mapping Data :- Dictionary
5. set :-  set
6. Boolen data :- True False
7. Binary data :-0101010101
8. None :-  None

# Operators 
## Types of Operators
1. Arithmetic Operators :- Used to perform common Mathematical functions
2. Assignment Operators :- Used to assign (give) values to variables (Or) Assignment operators are used to assign values to variables:
3. Comparison Operators :- Used to compare two values (Or) Comparison operators are used to compare two or More than two values:
4. Logical Operators    :- Used on Conditional statements (either TRUE, FALSE) (Or) Logical operators are used to combine statements:
5. Membership Operators :- Used to test if a sequence is presented in an object.
6. Identity Operators   :- Used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
7. Bitwise Operators    :- Used to compare (binary) numbers (Or) Work only on integer - used to perform bitwise calculations on integers, converted into
                           binary and them operation perform on each bit or pair of bits

## Airthmatic Operators
1. Addition
2. Substraction
3. Multiplication
4. / Division
5. % Modules :- Its show the reminder between two number
6. // Floor Division :- Its show the value before the decimal after the division
7. ** Exponentation or Exponents :- Its show the power of any number

In [1]:
# and :- its return true when both condition are true
# or :- its return true when at least one condition is true.
# not :- its reverse the output of and ,or

In [39]:
print("Addition : ",x+y)
print("Multiplication : ",x*y)
print("Substraction: ",x-y)
print("Division : ",x/y)
print("Modules : ",x%y)
print("Floor Division : ",x//y)
print("Exponents: ",x**y)

Addition :  22
Multiplication :  120
Substraction:  -2
Division :  0.8333333333333334
Modules :  10
Floor Division :  0
Exponents:  1000000000000

1. Write a python program to calculate the sum and show the multiplication of these number
x,y,z =10,25,32
2. Write a python program to show reminder between these number 45 and 8
3. Write a python program to show cube value 9
4. Write a python program to show the square value 25
5. Solve it 
x,y,z = 10,12,14
1. (x+y)*(x-y)
2. (x+y+z)+100
3. (x/y)+(y/z)
6. Show the area of square which length is 12 cm

In [33]:
x,y,z =10,25,32

In [34]:
print(x+y+z)#1 
print(x*y*z)

67
8000

In [8]:
print(45%8) #2

5

In [9]:
print(9**3) #3

729

In [17]:
print(25**2) #4

625

In [35]:
x=10 #5
y=12
z = 14

In [29]:
x, y, z = 10, 12, 14 #6
result = (x + y) * (x - y)
print(result)

-44

In [37]:
x ,y ,z = 10,12,14 #7
asdf = (x +y +z)
print(asdf+100)

136

In [38]:
x ,y ,z = 10,12,14 #8
jkl =(x/y)+(y/z)
print(jkl)

1.6904761904761905

In [39]:
print(12**2)

144

In [24]:
x =45j
print(type(x))

<class 'complex'>

In [25]:
x = [12,45,23]
print(type(x))

<class 'list'>

In [26]:
x = (12,45,23)
print(type(x))

<class 'tuple'>

In [27]:
range(1,100)

range(1, 100)

In [14]:
x =45
z =454
a=486

In [15]:
print(x+z+a)

985

In [16]:
d =x+z+a

In [22]:
x = 45
print(type(x))

<class 'int'>

In [23]:
x =45.44
print(type(x))

<class 'float'>

### Condition formatting
#### if else : it is used to print the statement according to user

#### Write a python program to print the statment if number is greater than 10 then
#### print yes else print no

In [4]:
# Comperision operators with conditional Formatting
# >
# <
# >=
# <=
# !=
# if x is greater than y than print yes else print no

In [5]:
x = 89
y = 100
if x>y:
    print("yes")
else:
    print("no")

no

In [2]:
x = 468
if x%2==0:
  print("Even Number")
else:
  print("Odd number")

Even Number

In [19]:
# write a Python program if 5 is divisible by 25
x =25
if x%5 == 0:
    print("Yes")
else:
    print("No")

Yes

#### Typecasting
#### Swapping

* Typecasting :- it is a technique where we convert the data type values

In [26]:
x = "45"
y = "100"
print(x +y)
print(type(x))

45100
<class 'str'>

In [24]:
# typecasting the x
x = int(x)
y = int(y)
print(x +y)

145

In [25]:
x = int(x)
y = float(y)
print(x +y)

145.0

In [27]:
x ="Ravi"
print(len(x))

4

In [29]:
x =544548941
x = str(x)
print(len(x))

9

In [36]:
# 1. Find the sum of these number
x ="250"
y = "163"
z = 45
x = int(x)
y = int(y)
print(x+y+z)
# 2. show the length of "data science"
print(len("data science"))
# 3. Show the data type of 45j
q = 45j
print(type(q))
# 4. show the total number of digit
x =45687
x= str(x)
print(len(x))

458
12
<class 'complex'>
5

In [37]:
# Swappings :- it is a technique where we exchange the value to another value

In [48]:
x = 12
y = 23

In [49]:
print("x :",x)
print("y: ",y)

x : 12
y:  23

In [46]:
x,y =y,x

In [47]:
print("x: ",x)
print("y: ",y)

x:  23
y:  12

In [57]:
x,y,z = 45,78,89
x = y
y,z =x,y
print(x)
print(z)

78
78

In [2]:
# You can take two variables in one time
x = 10
y= 20
z =30
# output 
# x =20 y =30 z =10

In [3]:
x, y = y, x 
y ,z = z ,y
print(x ,y ,z)

20 30 10

In [8]:
# wirte a python a program to check the number is between 20 to 30
x = 25

In [10]:
x =25
if 20<x<30:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
# Logical Operators :-
#    and :- its return true when both condition is true
#    Or  :- its return ture when at least one condition is true.
#    Not :- its reverse the output of and , or

In [24]:
# Write a python program to show yes is number is greater than 50 and less than 70
x = 65

In [25]:
 
if  x>50 and x<70:
    print("Yes")
else:
    print("No")

Yes

In [21]:
# Write a python program to check if number if even and less than 50 than print "good" else print "Bad"
x = 45

In [26]:
 
if x%2 ==0 and x<50:
   print("Good")
else:
    print("Bad")

Bad

In [ ]:
# Write a python program to check the number is divisible of 7 or 5 if Condition is true than print "Divisible" else print "NOt 
x =77
y =45

In [28]:
if 77%7 ==0 or 45%5 ==0:
    print("Divisible")
else :
    print("Not divisible")

Divisible

In [37]:
# write python program to show the 30% of amount if amount is greater than 5000 else show 10% amount
# x =78000
x = 4500

In [38]:
if x>5000:
    print(x*0.3)
else:
    print(x*0.1)

450.0

In [ ]:
# User input

# write a python program to check the number is divisible by 3 or not

In [43]:
x = int(input("Enter the number :-"))
if x%3 ==0:
    print("Divisible")
else:
    print("Not divisible")

Enter the number :- 5

Not divisible

In [ ]:
# 1. Write a python program wiht the help of user input to show the number is odd or even
# 2. Write a python program with the hlep of user input to show if text of length is greater than 7 then print high else print low
# 3. Write a program with the help of user input to check year is leap year or not

In [45]:
x = int(input("Enter the number :-"))
if x%2 ==0:
    print("Even Number")
else:
    print("Odd Number")

Enter the number :- 99

Odd Number

In [3]:
x = str(input("Enter the Text Only :-"))
if len(x)>7:
    print("High")
else:
    print("Low")

Enter the Text Only :- ravi

Low

In [4]:
year = int(input("Enter the Year Number :- "))
if year%4 ==0:
    print("Leap Year")
else:
    print("Not Leap Year")

Enter the Year Number :-  2024

Leap Year

In [5]:
# Membership Operator
# in 
# not in

In [7]:
# Write a python to check the alphabet "t" exist in text or not
x = "delhi"
if "t" in x:
    print("Yes")
else:
    print("No")

No

In [13]:
# write a python program to check the text if a and r preset in text then print yes else print no
x = str(input("Enter the text :-"))
if "a" in x and "r" in x:
    print("Yes")
else:
    print("No")

Enter the text :- prince

No

In [15]:
# Write a python program to print yes if text in "a" or "e" or "i"
x = str(input("Enter the text :-"))
if ("a" in x) or ("e" in x )or( "i" in x) :
    print("Yes")
else:
    print("No")

Enter the text :- ksdj

No

In [ ]:
# Mark = 400
#  if marks is greater than 380 grade = A+
#  if marks is greater than 350 grade = A
#  if marks is greater than 330 grade = B+
#  if marks is greater than 300 grade = B
#  else C

In [16]:
x = int(input("Enter the Total Number :-"))
if x>=380:
    print("Grade : A+")
elif x>=350:
    print("Grade : A")
elif x>=330:
    print("Grade : B+")
elif x>300:
    print("Grade : B")
else:
    print("Grade : C")

Enter the Total Number :- 350

Grade : A

In [1]:
x = int(input("Enter the Salary :-"))
if x<300000:
        print("No Tax")
elif x<700000:
        print(x*0.05)
elif x<100000:
        print(x*0.1)
elif x<150000:
        print(x*0.15)
elif x>150000:
    print(x*0.3)

Enter the Salary :- 550000

27500.0

In [29]:
# show the unit of digit

In [8]:
x = int(input("Enter the Number :-"))
if x<10:
    print("Ones")
elif x<100:
    print("Tens")
elif x<1000:
    print("Hundred")
elif x<100000:
    print("Thousand")
elif x>100000:
    print("Lakhs")

Enter the Number :- 500

Hundred

In [41]:
# Calculate 
# Write a python program to print output

In [14]:
x = float(input("Enter the first :-"))
y = str(input("Enter + - * :-"))
z = float(input("Enter the Second :-"))

if y =="+":
    print("Add :- ",x+z)
elif y =="-" : 
   print("Sub :-",x-y)
elif y =="*" :
    print("Mult :- ",x*z)

Enter the first :- 545148432415845
Enter + - * :- *
Enter the Second :- 15415484484654645164

Mult :-  8.40372720174026e+33

In [69]:
# Identity operators
# is
# is not

In [70]:
x = 10
y = 10

In [71]:
print(x is not y)

False

In [72]:
print(x is y)

True

In [2]:
# Nested if :- We use if inside another if

In [5]:
x = 25
if x>20:
    print("number is greater than 20")
elif x>10:
    print("number is greater than 10")

number is greater than 20

In [13]:
x = 25
if x>25:
    print("Greater than 20")
    if x>30:
        print("Greater than 30")

In [12]:
user = "ravi301"
pas = 12345
x = str(input("Enter the user Name :-"))
if x == user:
    print("Correct User id :-")
    y = int(input("Enter the Password :-"))
    if y == pas:
      print("Open")
else:
    print("Incorrect User id")
    print("Try Again")

Enter the user Name :- ravi301

Correct User id :-

Enter the Password :- 12345

Open

In [14]:
# wirte a python program to if number is greater than 5 than go with nxt if 
# if number is greater than 20 then show "Greater than 20" 
# else show "less than twenty"
# else show "less than Five"

In [20]:
x = int(input("Enter the Number :-"))
if x>5:
    if x>20:
        print("Greater than 20")
    else:
        print("Less than 20")
else:
    print("Less than Five")

Enter the Number :- 8

Less than 20

In [21]:
# if number is greater tahn 10 then print "Above 10"
# if number is greater than 20 then print "Above 20"
# else show less than 10
# else show less than 20

In [25]:
x = int(input("Enter the Number :-"))
if x>10:
    print("Above 10")
    if x>20:
        print("Above 20")
    else:
        print("Less than 20")
else:

    print("less than 10")

Enter the Number :- 40

Above 10
Above 20

In [38]:
# wirte a python program to show the greater number

x = 45
y = 78
z = 50
if x>y and x>z:
    print(x,"is greatest No")
elif y>x and y>z:
    print(y,"is greatest No")
elif z>x and z>y:
    print(z,"is greatest No")

78 is greatest No

In [40]:
# write a python program to show the lowest number
x = 45
y = 78
z = 50
if x<y and x<z:
    print(x,"is lowest No")
elif y<x and y<z:
    print(y,"is lowest No")
elif z<x and z<y:
    print(z,"is lowest No")

45 is lowest No

In [1]:
# Write a Python program with the help of user input and show the state and capital according to the user.
# bihar ---------- patna
# Delhi ---------- New delhi
# assam ---------- dispur
# punjab --------- Chandigarh
# haryana -------- chandigarh

In [2]:
x = str(input("enter the name :-"))
if x == "bihar":
    print("THe Capital of",x,"Patna")
elif x=="delhi":
    print("the capital of ",x,"new delhi")
elif x =="assam":
    print("the capital of",x,"dispur")
elif x=="punjab":
    print("the capital of",x,"chandigarh")
elif x=="haryana":
    print("the capital of",x,"chandigarh")

enter the name :- delhi

the capital of  delhi new delhi