In [1]:
# Lambda Function

In [2]:
sum = lambda x,y: x+y

In [3]:
print(sum(3,4))

7

In [4]:
# Using filter() function to get all even number from a list

In [6]:
x = lambda a:a%2 ==0
y = [1,2,3,4,5,6,7,8,9,10]
f = filter(x,y)
f = list(f)
print(f)

[2, 4, 6, 8, 10]

In [9]:
# Using Map() function to cube the all number in a list.

In [10]:
x = lambda a:a**3
y = [1,2,3,4,5]
z = map(x,y)
z = list(z)
print(z)

[1, 8, 27, 64, 125]

In [11]:
# Using reduce() function to calculate the product of all elements in a list

In [15]:
from functools import reduce # First import this lab

In [16]:
x = lambda a,b: a*b
y = [1,2,3,4,5]
z = reduce(x,y)
print(z)

120

In [17]:
# Write a query to show the cube of any number of with help of function

In [23]:
x = lambda a:a**3
y = [1,2,3,4,5]
z = map(x,y)
z = list(z)
print(z)

[1, 8, 27, 64, 125]

In [19]:
# Create a function to filter all prime number from list

In [39]:
x = lambda a:a%a ==0 
y = [2,4,7,8,9,3,5,11,15,17,19]
z = filter(x,y)
z = list(z)
print(z)

[2, 4, 7, 8, 9, 3, 5, 11, 15, 17, 19]

In [41]:
def is_prime(x):
    if x<=1:
        return False
    if x<=3:
        return True
    if x%2 ==0 or x%3==0:
        return False
    i = 5
    while i*i<=x:
        if x%i==0 or x%(i+2)==0:
            return False
        i+=1
    return True

In [42]:
lis = [2,4,7,8,1,9,3,5,11,29,17,19]

In [43]:
f = filter(is_prime,lis)
f = list(f)
print(f)

[2, 7, 3, 5, 11, 29, 17, 19]

In [65]:
x = [1,2,3,4,5,6,7]
# Expected output :- [1,3,6,10,15,21,28]

In [47]:
# Show the running total of all number is list

In [70]:
x = [1,2,3,4,5,6,7]
y = []
a = 0
for i in x:
    a+=i
    y.append(a)

In [71]:
print(y)

[1, 3, 6, 10, 15, 21, 28]

In [74]:
def running(x):
        y = []
        a = 0
        for i in x:
            a+=i
            y.append(a)
        print(y)

In [75]:
running(x)

[1, 3, 6, 10, 15, 21, 28]

In [76]:
# zip function :- Its combine the data in from of list tuple or dict

In [77]:
x = [1,2,3,4,5,6]
y = ['One','Two','Three','Four','Five','Six']

In [78]:
z = zip(x,y)
z = dict(z)

In [80]:
print(z)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [81]:
x = [1,2,3,4,5,6]
y = ['One','Two','Three','Four','Five','Six']

In [82]:
z = list(zip(x,y))
z

[(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four'), (5, 'Five'), (6, 'Six')]

In [86]:
for i,j in z:
    if i%2==0:
        print(j)

Two
Four
Six

In [99]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
z = [11,12,13,14,15]

In [100]:
a = zip(x,y,z)
z = list(a)

In [101]:
z

[(1, 6, 11), (2, 7, 12), (3, 8, 13), (4, 9, 14), (5, 10, 15)]

In [102]:
for i in z:
    print(i)

(1, 6, 11)
(2, 7, 12)
(3, 8, 13)
(4, 9, 14)
(5, 10, 15)

In [103]:
for i,j,k in z:
    print(i,'--',j,'--',k)

1 -- 6 -- 11
2 -- 7 -- 12
3 -- 8 -- 13
4 -- 9 -- 14
5 -- 10 -- 15