In [ ]:
# List

In [ ]:
x = [1,2,3,2,3,2,4,2,5,2,6,2,5,2]

In [ ]:
# Delete all 2 from list

In [ ]:
while 2 in x:
    x.remove(2)

In [ ]:
print(x)

In [ ]:
x = ['ram','Day',123,'sita',798,21.1,'Text']

In [ ]:
# Add 'Sunday' in first of index

In [ ]:
x.insert(0,'Sunday')
print(x)

In [ ]:
# Add 'Friday' in last of index

In [ ]:
x.append('Friday')
print(x)

In [ ]:
# Delete first two value from list

In [ ]:
 del x[0:3]
print(x)

In [ ]:
# Extract number in a list

In [ ]:
n = []
for i in x:
    if type(i) ==int or type(i) ==float:
        n.append(i)

In [ ]:
print(n)

In [ ]:
# Extract all text in a new list

In [ ]:
t =[]
for i in x:
    if type(i) ==str:
        t.append(i)
print(t)

In [ ]:
# count total number of numerical value in list

In [ ]:
c = 0
for i in x:
    if type(i) in (int, float):
        c+=1

In [ ]:
print(c)

In [ ]:
# Count total number of text value in list

In [ ]:
ct = 0
for i in x:
    if type(i) ==str:
        ct+=1
print(ct)

In [ ]:
# Add first 'a','b','c' in last of list

In [ ]:
x.extend(['a','b','c'])
print(x)

In [ ]:
# Delete all text from list

In [ ]:
x = ['ram','Day',123,'sita',798,21.1,'Text']
y = x.copy()
x.clear
for i in x:
    if type(i)!=str:
        x.append(i)

In [ ]:
print(x)

In [ ]:
# Delete all value from list.

In [ ]:
# del x[0:]

In [224]:
x = [9,4,2,7,3,9,5,1,10,4]

In [225]:
# Show the maximum number from the list

In [226]:
# Sort :- It is used to arrange the list in ascending or descending order

In [227]:
# Sorted :-

In [228]:
# Asending order
x.sort()

In [229]:
print(x)

[1, 2, 3, 4, 4, 5, 7, 9, 9, 10]

In [230]:
# Descending order

In [231]:
x.sort(reverse=True)

In [232]:
print(x)

[10, 9, 9, 7, 5, 4, 4, 3, 2, 1]

In [237]:
# Sorted

In [238]:
x = [34,45,6,71,44,10]

In [239]:
x = sorted(x)

In [240]:
print(x)

[6, 10, 34, 44, 45, 71]

In [242]:
x = sorted(x,reverse=True)
print(x)

[71, 45, 44, 34, 10, 6]

In [249]:
x = [456,123,789,369,741,258]

In [250]:
# Show the maximum number

In [251]:
x.sort()

In [253]:
x[-1]

789

In [255]:
# Show the 2nd lowest number 
x[1]

258

In [257]:
# Show the 3rd largest number
x[-3]

456

In [258]:
# Show the sum of all number 
s = 0
for i in x:
    s = s+i
print(s)

2736

In [263]:
x = [456,123,789,369,741,258]

In [264]:
m = max(x)
print(m)

789

In [265]:
mi = min(x)
print(mi)

123

In [266]:
s = sum(x)
print(s)

2736

In [267]:
x = [1,2,2,52,2,3,5,6,6,6,7,7,9,9,8]

In [268]:
c = x.count(2)
print(c)

3

In [269]:
x = [6,7,43,9,1]

In [270]:
i = x.index(43)
print(i)

2

In [271]:
x = ['India','Australia','England','Pakistan','Srilanka']

In [272]:
# Show the sort name of all country

In [276]:
y = []
for i in x:
    y.append(i[0:3].upper())

In [277]:
print(y)

['IND', 'AUS', 'ENG', 'PAK', 'SRI']

In [309]:
x = [12,45,7,9,56,23,25,45,78,89,56,23,25,24,26]

# print the NUmebr that is divisible bt 9
# find the NUmber who is repeated more than one time
# show positive and negative index of the Number
# show the index Number of the even number elements
# show the Negative index of odd Elements

In [310]:
for i in x:
    if i%9 ==0:
        print(i)

45
9
45

In [314]:
for i in x:
    if x.count(i)>1:
        print(i)

45
56
23
25
45
56
23
25

In [316]:
for i in range(len(x)+1):
    print('Positive index :- ',i)

Positive index :-  0
Positive index :-  1
Positive index :-  2
Positive index :-  3
Positive index :-  4
Positive index :-  5
Positive index :-  6
Positive index :-  7
Positive index :-  8
Positive index :-  9
Positive index :-  10
Positive index :-  11
Positive index :-  12
Positive index :-  13
Positive index :-  14
Positive index :-  15

In [315]:
for i in range(len(x),-1,-1):
    print('Negative index :- ',i)

Negative index :-  15
Negative index :-  14
Negative index :-  13
Negative index :-  12
Negative index :-  11
Negative index :-  10
Negative index :-  9
Negative index :-  8
Negative index :-  7
Negative index :-  6
Negative index :-  5
Negative index :-  4
Negative index :-  3
Negative index :-  2
Negative index :-  1
Negative index :-  0

In [286]:
# show the index Number of the even number elements
# show the Negative index of odd Elements

In [307]:
for i in x:
    if i%2 ==0:
        print(i)

12
56
78
56
24
26

In [301]:
for i in x:
    if i%2 ==1:
        print(i)

45
7
9
23
25
45
89
23
25