In [45]:
# Write a python program to to count whose text starts and endwith same alphabets

In [46]:
x = ['Adda','xyz','1221','fox','Rider']

In [47]:
c = 0
for i in x:
    if i[0].lower()==i[-1].lower():
        c+=1
print(c)

3

In [48]:
# 2. Delete all duplicate value from list

In [1]:
x = [34,12,678,12,54,67,34]

In [4]:

x = [34, 12, 678, 12, 54, 67, 34]

# Method 1: Removing duplicates using loop
y = []
for i in x:
    if i not in y:
        y.append(i)
print("List without duplicates using loop:", y)

# Method 2: Removing duplicates using set
x = list(set(x))
print("List without duplicates using set:", x)

List without duplicates using loop: [34, 12, 678, 54, 67]
List without duplicates using set: [34, 67, 678, 12, 54]

In [ ]:
x = set(x)
x = list(x)
print(x)

In [58]:
# Write a python program to find the list of words that are longer than n from a given list of words.
x = 'The quick brown fox jumps over the lazy dog'

In [59]:
n = 0
x = x.split()
for i in x:
    if len(i)>n:
        n=len(i)
        v = i
for i in x:
    if len(i)==n:
        print(i)

quick
brown
jumps

In [ ]:
# Write a python function that takes two lists and returns True if they have at least one common member.

In [52]:
x = [5,6,8,3,7,1]
y = [9,10,5,7,2,8]

In [53]:
for i in x:
    if i  in y:
        print(i)

5
8
7

In [60]:
# write a python program to calculate the difference between the two list.

In [75]:
x = [6,3,7,8]
y = [6,3,4,8]

In [76]:
for i in x:
    if i not in y :
        print(i)

7

In [67]:
# Write a python program to convert a list of characters into a string.

In [68]:
x = ["P",'Y','T','H','O','N']

In [71]:
x = "".join(x)
print(x)

PYTHON

In [113]:
# Write a python porgram to flatten a shallow list.
lis =[[2,4,3],[1,5,6],[9],[7,9,0]]

In [114]:
x = str(lis)

In [115]:
x = x.replace('[',"")
x = x.replace(']',"")
x = x.replace(",","")
x = x.split()

In [116]:
x = [int(i) for i in x]

In [117]:
print(len(x))
print(type(x))

10
<class 'list'>

In [108]:
# Write a python program to find the second smallest number in a list.

In [127]:
x = [1,1,0,0,2,-2,-2]

In [128]:
x.sort(reverse=True)
print(x)
x[-2]

[2, 1, 1, 0, 0, -2, -2]

-2

In [131]:
# Write a python program to get the frequency of elements in a list.

In [132]:
x = [10,10,10,10,20,20,20,20,40,40,50,50,30]