In [30]:
# Nested List to normal list

In [31]:
x = [[24,40,[100,200]],60]

In [32]:
x = str(x)

In [33]:
x = x.replace("[","")
x = x.replace("]","")
x = x.replace(",","")

In [34]:
x = x.split()

In [35]:
x =  [int(i) for i in x]

In [36]:
x

[24, 40, 100, 200, 60]

### Tuple :- Are used to store the multiple value in single variable, it is written in round        bracket.
1. Tuple are written in round bracket.
2. Tuple are unchangeable or immutable.
3. Tuple allow duplicate value.
4. It's allow multiple data type value.
5. Tuple are ordered.
6. Tuple are indexed.

In [40]:
x = (23,34,45,23,67,78,89)

In [39]:
print(x)
print(type(x))
print(len(x))

(23, 34, 45, 67, 78, 89)
<class 'tuple'>
6

In [47]:
# How to create a blank list

In [48]:
y = list()

In [49]:
y

[]

In [50]:
# How to create a blank tuple.

In [51]:
t = tuple()

In [52]:
t

()

In [53]:
x = ('Sunday','Monday',345,543,True)

In [55]:
print(x)
print(type(x))
print(len(x))

('Sunday', 'Monday', 345, 543, True)
<class 'tuple'>
5

In [56]:
x

('Sunday', 'Monday', 345, 543, True)

In [57]:
x[0]

'Sunday'

In [58]:
# Type casting

In [60]:
x = (45,78,89,56)
print(type(x))

# Its convert in list
x = list(x)
print(x)
print(type(x))

<class 'tuple'>
[45, 78, 89, 56]
<class 'list'>

In [81]:
x = (1,2,3,4,5)

In [82]:
# Delete the first elements form tuple

In [83]:
x = list(x)
x.pop(0)
x = tuple(x)
print(x)

(2, 3, 4, 5)

In [84]:
# Add 10 in last of tuple

In [85]:
x = list(x)
x.append(10)
x = tuple(x)
print(x)

(2, 3, 4, 5, 10)

In [86]:
# Count total even number

In [87]:
c = 0
for i in x:
    if i%2 ==0:
        c+=1
print(c)

3

In [88]:
# Tuple
# Index : - Its show the position of elements from tuple
# Count : - Its count the elements from typle repeated how many types
# Min
# Max
# Sorted
# Sum
# Len
# Type

In [89]:
x = ("Sunday",'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')

In [90]:
x

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [91]:
# Convert all text of first alphabet in capital letter

In [107]:
# List comperhension

In [108]:
x = [val.title() for val in x]
x = tuple(x)
print(x)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [112]:
x = tuple([t.lower() for t in x])
print(x)

('sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday')

### Packing and Un-Packing
#### Packing :- Its divide the tuple of data with same number of variable
#### Un - Packing :-

In [113]:
x = (12,45,78)
x = x*5
x

(12, 45, 78, 12, 45, 78, 12, 45, 78, 12, 45, 78, 12, 45, 78)

In [114]:
x = (1,2,3)

In [115]:
a,b,c = x

In [116]:
# Swapping

In [118]:
a,b,c = c,a,b

In [119]:
a

3

In [120]:
x = (41,20,30)
a,b,c= x
a,b = b,c
c = a

In [121]:
x,y,z = 10,20,30
x,y= y,x
y,z = z,y

In [122]:
y

30

### Un - packing :- It is used when in tuple number of variable is less than number of elements in tuple

In [123]:
x = (1,2,3,4,5)

In [125]:
a,*b,c = x

In [126]:
print(a)
print(b)
print(c)

1
[2, 3, 4]
5